<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{page-name}} - Joe Paolicelli</title>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,300|Oxygen:400,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{root}}assets/css/app.css">
    </head>
    <body>

        <!-- Navigation for medium and larger screens. -->
        <div class="row show-for-medium">

            <div class="medium-4 columns site-title">
                <h1>{{page-name}}</h1>
            </div>

            <div class="headerLinks medium-8 columns text-right">

                <a href="index.html">Home</a>
                <a href="about.html">About</a>

            </div>

        </div>

        <hr class="show-for-medium headerHr" />

        {{!-- Top nav bar for small screens only. --}}
        {{!-- How this works:
        http://foundation.zurb.com/sites/docs/responsive-navigation.html --}}
        <div class="show-for-small-only  small-12 columns">

            <div class="title-bar" data-responsive-toggle="small-screen-menu">
                <button class="menu-icon" type="button" data-toggle></button>
                <div class="title-bar-title">{{page-name}}</div>
            </div>

            <div class="top-bar" id="small-screen-menu">

                <ul class="menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="about.html">About</a></li>
                </ui>

            </div>

        </div>


        {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
        {{> body}}

        <script src="{{root}}assets/js/app.js"></script>
    </body>
</html>
